.vscode/
**/.vscode/

__pycache__/
**/__pycache__/
*.pyc

venv/
.venv/
env/
ENV/
**/venv/
**/.venv/
**/env/

node_modules/
**/node_modules/
dist/
**/dist/

weights/
**/weights/
database/
**/database/
**/external/
**/Masked-Face-Recognition-KD/
**/datasets/raw/
**/evaluation/

*.onnx
*.pth
*.pt
*.ckpt
*.mdl
*.log
app.log
output_video.mp4

**/datasets/
adaface-test/
**/adaface-test/
**/.venv/
**/venv/